body {
    background: #FFFFFF url(fundo.jpg);
    background-size: cover;
    }

* {
    margin: 0;
    padding: 0;
}
.header {
    width: 100%;
}
.menu {
    background-color: #3B4CCA;
    text-align: center;
}
.menu ul li {
    display: inline-block;
}
.menu ul li a {
    display: block;
    color: #FFFFFF;
    padding: 30px 10px;
}
.main {
    padding: 50px 0;
}
.content {
    width: 80%;
    margin: auto;
    padding: 30px;
    background-color: #eff0f1;
    height: 1000px;
}

.footer {
    background-color: #3B4CCA;
    text-align: center;
    padding: 50px 0;
}

.intro {
    font-size: 50px;
    text-align: center;
}

.intro {
    margin-top: 20%;
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 55px;
    font-weight: bold;
}

.displayed {
    display: block;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}

.sobreGrande {
    font-family: sans-serif;
    font-size: 35px;
    font-weight: bold;
}

.sobreMedio {
    font-family: sans-serif;
    font-size: 18px;
}

.sobrePequeno {
    font-family: sans-serif;
    font-size: 15px;
}

.wooper {
    width: 308px;
    height: 231px;
}

.linguagens {
    font-family: sans-serif;
    font-size: 18px;
    margin-top: 5%;
}

.proxlinguagens {
    font-family: sans-serif;
    font-size: 18px;
    margin-top: 2%;
}

.java {
    width: 300px;
    height: 100px;
	border-radius: 15px;
	background: #6495ED;
    border: 2x solid #6495ED;
    color: white;
    padding: 4px;
    margin-top: 1%;
    margin-right: 25px;
    float: left;
}

.java p {
    margin: 8%;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    color: white;
}

.cs {
    width: 300px;
    height: 100px;
	border-radius: 15px;
	background: lightseagreen;
    border: 2x solid lightseagreen;
    color: white;
    padding: 4px;
    margin-top: 1%;
    margin-right: 25px;
    float: left;
}

.cs p {
    margin: 8%;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    color: white;
}

.js {
    width: 300px;
    height: 100px;
	border-radius: 15px;
	background: #2471A3;
    border: 2x solid #2471A3;
    color: white;
    padding: 4px;
    margin-top: 1%;
    margin-right: 25px;
}

.js p {
    margin: 8%;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    color: white;
}

.c {
    width: 300px;
    height: 100px;
	border-radius: 15px;
	background: lightslategray;
    border: 2x solid lightslategray;
    color: white;
    padding: 4px;
    margin-top: 1%;
    margin-right: 25px;
    float: left;
}

.c p {
    margin: 8%;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    color: white;
}

.vazio {
    clear: both;
}